# Images
images

# Binary files
rust_basics/src/vectors
address_book/src/vector_01
address_book/src/new_draft 
address_book/src/second_draft
address_book/src/tempCodeRunnerFile 
address_book/src/tempCodeRunnerFile.rs


# Target
bitwise_calc/target
rust_basics/target
core_rust_7/target
address_book/target

# Cheat sheets
github.md
gitignore.md
markdown.md
comments.md
deepening.md
hashmap.md

# Templates
template.md

# Scratch pad
scratch.rs
brainstorm.md

# Practice folders
core_rust_7